---
import Base from "~/layouts/base.astro";
---

<Base seo={{ title: "About - n3bula.lol" }}>
  <div class="container">
    <div class="container-title"><p>about me</p></div>
    <div class="content">
      <p>
        Heya! I'm Marcus, the webmaster of this site. I'm from the UK, near
        London, and I'm 16 years old. I've been programming & making websites
        for about 4 years now, and I've re-made this website so many times I can
        barely keep track.
      </p>

      <p>
        This site is build using Astro, a static site generator. It lets me
        publish blog posts, create layouts, and just makes managing the site a
        lot easier. My site is open source and is available on GitHub.
      </p>
      <p>
        The font used for most text on this site is Host Grotesk. For any code
        blocks/snippets, the font used is JetBrains Mono.
      </p>
      <p>
        Go is another language in my belt, usually my go-to for desktop & local
        applications. I had a go at Rust once, but gave up pretty quickly T-T
      </p>
      <p>
        Alongside programming, the arts are a big passion too. I am very lucky
        to have had the experience to help out with more technical aspects of
        theatre, such as Lighting & Sound, and It's something that I really
        would like to persue as a career.
      </p>
      <p>
        My favourite passtime, other than programming, is going on long walks
        and exploring nature. There's something so calming and serene about it,
        just being able to escape social media and enjoy talking to whomever I'm
        with and the views.
      </p>
      <p>
        Music! Artist-wise, I listen to a lot of Conan Gray, his music just
        resonates with me. Some others include Charli XCX, Kim Petras, Lady
        Gaga, and other art-pop/hyperpop artists. All my music is tracked on
        last.fm!
      </p>
      <p>
        Outside of that, I doomscroll ASOS & TikTok, a habit I am really trying
        to break. I read a lot of novels as well, primarily danmei but also
        other genres if something catches my eye.
      </p>
    </div>
  </div>
</Base>
