---
import { getCollection, getEntry, render } from "astro:content";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<Base title={entry.data.title}>
  <section class="box">
    <a href="/blog">cd ../</a>
    <h1>blog/{entry.data.title}</h1>
    <p>posted: {new Date(entry.data.date).toLocaleDateString("en-GB")}</p>
    <hr style="margin-top:5px;margin-bottom:5px;" />
    <article>
      <Content />
    </article>
  </section>
</Base>

<style>
    h1 {
        padding-top: 10px;
    }
</style>
