---
import Base from "../../layouts/base.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base title="blog">
  <section class="box">
    <h1>blog posts</h1>
    <p>yes, i occasionally blog! its generally just ramblings and a dump of thoughts into writing, but if your interested feel free to read them!! :3</p>
    <ul class="posts">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}`}>{post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
