/****** FONTS *******************************************/
@font-face {
  font-family: "w95";
  src:
    url("/fonts/w95fa.woff") format("woff"),
    url("/fonts/w95fa.woff2") format("woff2");
}

/****** VARIABLES ***************************************/
:root {
  --ff: "w95", system-ui;
  --max-w: 700px;

  --fg: hsl(240, 13%, 78%);
  --grey: hsl(240, 8%, 55%);
  --dark-grey: hsl(249, 10%, 13%);
  --cbg: hsla(249, 14%, 10%, 0.616);

  --accent: hsl(240, 67%, 80%);

  --grey-gradient: linear-gradient(180deg, var(--fg), var(--grey));
}

/****** OVERWRITES **************************************/

html {
  background: hsl(249, 14%, 10%);
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  padding-bottom: 6px;
}

h2 {
  padding: 6px 0;
}

p {
  padding: 6px 0;
}

ul {
  list-style: inside;
}

hr {
  border-color: var(--accent);
}

/****** GENERAL *****************************************/

body {
  font-family: var(--ff);
  font-size: 14px;

  color: var(--fg);

  background: url(/pics/num.gif);
  background-repeat: repeat;
  background-size: 104px 104px;

  min-height: 100vh;
}

.wrapper {
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 30px 0 0 0;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 6px;
}

.header {
  background: url(/pics/banner.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 150px; */
  padding: 24px 12px;
  margin-bottom: 6px;
}

.header .site-title {
  font-size: 2em;
  font-weight: bold;
  padding: 2px 8px;
  backdrop-filter: blur(4px);
  background: var(--cbg);
}

.umbrella-left,
.umbrella-right {
  width: 50px;
  height: auto;
}

.container .container-title {
  background: var(--grey-gradient);
  color: var(--dark-grey);
  width: max-content;
  padding: 2px 6px;
}

.container .container-title p {
  line-height: 1;
  padding: 0;
}

.wrapper .container .content {
  background: var(--cbg);
  backdrop-filter: blur(2px);

  --p: 6px;
  padding: var(--p);
}

.side,
main {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.side .links,
.side .links details .sub-links {
  display: flex;
  flex-direction: column;
}

.side .links .link,
.side .links details summary {
  padding: 4px 6px;
  background: linear-gradient(180deg, #32303b, #1e1d25);
  border-top: var(--grey) 1px solid;
  transition: 0.5s ease;
}

.side .links .link:first-child {
  border-top: 0px;
}

.side .links .link:hover {
  padding-left: 12px;
}

.side .links details summary {
  color: var(--accent);
  cursor: pointer;
}

.side .links details summary:hover {
  text-decoration: underline;
}

.side .links details .sub-links {
  margin-left: 8px;
}

.footer {
  text-align: center;
  padding: 12px 0;
  font-size: 12px;
}

.footer p {
  padding: 0;
}

.two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6px;
}

.no-padding {
  padding: 0;
}

.ls-none {
  list-style: none;
  padding: 0;
}

.scroll-box {
  max-height: var(--h, 200px);
  overflow-y: auto;
}

.flash-red {
  color: red;
  animation: flash-red 2s ease-in-out infinite;
}

@keyframes flash-red {
  0%,
  100% {
    opacity: 1;
    text-shadow: 0 0 0px transparent;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 8px oklch(62.365% 0.25371 26.331);
  }
}

.colour-accent {
  color: var(--accent);
}
