---
import Name from "~/components/name.svelte";
import Base from "~/layouts/base.astro";
---

<Base>
  <div class="container">
    <div class="container-title">
      <p>welcome</p>
    </div>
    <div class="content">
      <h1>Identity Confirmed. Welcome, <Name client:only />.</h1>
    </div>
  </div>
</Base>
