---
import Name from "~/components/name.svelte";
import Base from "~/layouts/base.astro";
---

<Base>
  <div class="container">
    <div class="container-title">
      <p>welcome</p>
    </div>
    <div class="content">
      <h1>Identity Confirmed. Welcome, <Name client:only />.</h1>
      <p>
        Hello Hello! Welcome to my new personal site, this time, Resident
        Evil-themed! I first played RE in 2024, becoming a fan of the series &
        genre very quickly. It still continues to be one of my favourite video
        game franchises.
      </p>

      <p>
        Some things may have moved around, and some stuff may be missing as I
        move over to this new site. It's also not entirely responsive yet, but
        will be soon I promise! Please bear with!
      </p>
    </div>
  </div>

  <div class="two-cols">
    <div class="container">
      <div class="container-title">
        <p>webrings</p>
      </div>
      <div class="content">
        <div class="scroll-box" style="--h: 150px;">
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
          <p>asdasd</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-title">
        <p>quick facts</p>
      </div>
      <div class="content">
        <ul class="ls-none">
          <li><strong class="fp">Age:</strong> 16</li>
          <li><strong class="fp">Gender:</strong> Male</li>
          <li><strong class="fp">Sexuality:</strong> Gay</li>
          <li><strong class="fp">Country:</strong> England</li>
          <li>
            <strong class="fp">Mood:</strong>
            <a href="https://www.imood.com/users/wishbone">
              <img
                src="https://moods.imood.com/display/uname-wishbone/fg-c0c0ce/trans-1/imood.gif"
                alt="The current mood of wishbone at www.imood.com"
                style="display:inline;"
              /></a
            >
          </li>
        </ul>
        <p>Want to know more? Have a look <a href="/about">here</a>.</p>
      </div>
    </div>
  </div>
</Base>
