---
import Base from "../layouts/base.astro";
---

<Base title="about">
  <section class="box">
    <img
      src="https://file.garden/aXdBx1DU1BidR1It/download20260104222131.png"
      alt="anime pfp cringe ik"
      style="float:left;width:200px;padding-right:10px;"
    />
    <h1>about the webmaster</h1>
    <p>heya! i'm marcus, the webmaster of this site. i'm from the uk, near london, and i'm 16 years old. i've been programming & making websites for about 4 years now, and i've re-made this website so many times i can barely keep track.</p>
    <p>i primarily code in typescript/javascript, but i also love other languages like golang and elixir. i tried learning rust then gave up once the book got to memory management, my brain couldn't comprehend how any of that works T_T</p>
    <p>as for my dream job, i'm planning to become a 🥁theatrical lighting designer🥁. i've always loved theatre and the arts, and have worked on many shows as an amateur but would love to get some professional experience in the biz!</p>
    <p>my favourite colour at the moment is purple, has been for a while now. it used to be green/earthy colours, i guess i inherited that from my mum who's entire house and wardrobe is different shades of green like that lady from nyc 😅, but i got bored of it lol.</p>
    <p>i love going for walks and exploring nature, i'm lucky to live in an area with lots of public footpaths and national trusts nearby so we always find something fun to do as a family.</p>
    <p>my favourite artist at the moment is conan gray, something about his music just resonates with me. i hope one day to go to one of his concerts!! and maybe the ticketing website will actually work this time instead of not letting me look at them 😔</p>
    <p>i also listen to a lot of other artists, notably charli xcx, and other hyperpop/experimental pop artists. i find listening to them helps me concentrate on whatever i'm working on!</p>
    <p>i spend waaay too much time on instagram & tiktok doomscrolling my life away when i should be studying, i love watching silly cat videos <em class="rainbow">(i mean, who doesn't?)</em> :3</p>
    <p>okay okay i think you get the gist of it...i'll stop rambling now xoxo</p>
  </section>
  <section class="box">
    <h2>interests</h2>
    <table class="interests">
      <tr>
        <td class="interest-title"
          >Music <a href="https://last.fm/user/marcusleonas" target="_blank"
            >(last.fm)</a
          >
        </td>
        <td
          ><strong>Conan Gray</strong>, Charli XCX, SOPHIE, GFOTY, Chappell
          Roan, Adela, Troye Sivan, Marina, Addison Rae, Ashnikko</td
        >
      </tr>
      <tr>
        <td class="interest-title">Games</td>
        <td
          >FF7 <small>(Rebirth & Intergrade)</small>, Resident Evil <small
            >(specifically the Leon games, yes I'm basic)</small
          >, Dead By Daylight <small>(survivor main, gen princess)</small>,
          Genshin Impact, Where Winds Meet, Stardew Valley <small
            >(occasionally)</small
          >, Ghost of Tsushima
        </td>
      </tr>
      <tr>
        <td class="interest-title">TV</td>
        <td
          >Young Royals, Superstore, The Good Place, Brooklyn Nine-Nine + many
          more.</td
        >
      </tr>
      <tr>
        <td class="interest-title">Books</td>
        <td
          >Run Wild: Sa Ye, TGCF, Game Changers series, Wuthering Heights</td
        >
      </tr>
      <tr>
        <td class="interest-title">Anime/Animated</td>
        <td
          >Frieren, Arcane <small>(PEAK)</small>, Given, Sasaki to Miyano, Yuri
          on Ice, Heaven Offical's Blessing, Castlevania, Black Butler, HXH,
          Naruto <small>(though i watched it like 6 years ago)</small>
        </td>
      </tr>
    </table>
  </section>
</Base>

<style>
  table {
    vertical-align: top;
    border-collapse: separate;
    border-spacing: 0 5px;
  }
</style>
