---
import Base from "../layouts/base.astro";
---

<Base title="guestbook">
  <section class="box">
    <h1>guestbook</h1>
    <p>sign your name below if you liked my site!! :3</p>
    <iframe src="https://wishbone.atabook.org" frameborder="0" width="100%" height="1000px"></iframe>
  </section>
</Base>
