---
import Base from "../layouts/base.astro";
---

<Base title="not found">
    <section class="box">
        <small>error code: 404</small>
        <h1>uh oh! page not found</h1>
        <a href="/">return home, traveller</a>
    </section>
</Base>