<h3>webrings</h3>

<div>
  <a
    href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=n3bula"
    target="_top">←</a
  >
  <a href="https://coneheads.n3bula.lol" target="_blank">conehead webring</a>
  <a
    style="font-size:60%"
    href="https://coneheads.n3bula.lol/redirect.html?to=random&name=n3bula"
    target="_top">(rand)</a
  >
  <a
    href="https://coneheads.n3bula.lol/redirect.html?to=next&name=n3bula"
    target="_top">→</a
  >
</div>

<br />

<!-- webmaster webring -->
<map name="badge-wwstamp">
  <area
    shape="rect"
    coords="66,38,79,49"
    href="https://webmasterwebring.netlify.app?n3bula-previous"
    alt="Previous"
  />
  <area
    shape="rect"
    coords="78,29,90,40"
    href="https://webmasterwebring.netlify.app?n3bula-next"
    alt="Next"
  />
  <area
    shape="rect"
    coords="13,15,63,47"
    href="https://webmasterwebring.netlify.app"
    alt="Webmaster Webring"
  />
</map>
<img
  usemap="#badge-wwstamp"
  id="ww-stamp"
  src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/stamp.png"
  alt="Webmaster Webring"
  width="99"
  height="56"
/>

<br />

<!-- bucket webring -->
<div>
  <a href=" https://webring.bucketfish.me/redirect.html?to=prev&name=n3bula"
    >←</a
  >
  <a href="https://webring.bucketfish.me">bucket webring</a>
  <a href="https://webring.bucketfish.me/redirect.html?to=random&name=n3bula"
    >?</a
  >
  <a href="https://webring.bucketfish.me/redirect.html?to=next&name=n3bula">→</a
  >
</div>

<br />

<!-- yaoi/yuri webring -->
<div
  style="
         background-image:
         linear-gradient(to top,#000,#00000000),
         url('https://file.garden/aXdBx1DU1BidR1It/yaoi%20webring%20banner.png');
         /* upload your image or use the preuploaded one :- ) */
         background-size:cover;
         display:grid;
         height:100px;
         width:200px;
         color:#fff;
         font-family:'Times New Roman';
         font-size:18px"
>
  <span
    style="display:inline-block;align-self:end;justify-self:center;text-align:center"
  >
    <a
      style="text-decoration:none;color:#fff"
      href="https://www.virtuagirl.net/webring.htm#nbl0">⇐</a
    >
    <!-- REPLACE "nbl" WITH /YOUR/ IDENTIFIER-->
    <a
      style="text-decoration:none;color:#fff"
      href="https://www.virtuagirl.net/yuriwebring">YAOI WEBRING</a
    >
    <a
      style="text-decoration:none;color:#fff"
      href="https://www.virtuagirl.net/webring.htm#nbl1">⇒</a
    >
    <!-- REPLACE "nbl" WITH /YOUR/ IDENTIFIER-->
  </span>
</div>

<br />

<!-- no ai webring -->
<map name="noaimini0b">
  <area
    href="https://baccyflap.com/noai"
    target="_blank"
    shape="rect"
    coords="32,4,142,56"
    alt="no ai webring"
    title="no ai webring"
  />
  <area
    href="https://baccyflap.com/noai/?prv&s=nbl"
    target="_top"
    shape="rect"
    coords="4,18,26,42"
    alt="previous"
    title="previous"
  />
  <area
    href="https://baccyflap.com/noai/?rnd"
    target="_top"
    shape="rect"
    coords="158,44,170,56"
    alt="random"
    title="random"
  />
  <area
    href="https://baccyflap.com/noai/?nxt&s=nbl"
    target="_top"
    shape="rect"
    coords="148,18,170,42"
    alt="next"
    title="next"
  />
</map>
<img
  style="width:176px;image-rendering:pixelated"
  usemap="#noaimini0b"
  src="https://baccyflap.com/noai/miniwidget0.gif"
  alt="an image of a little blue toy robot in a red circle. there's a red line running through the robot. around it are the words NO AI / WEBRING and two arrows, one pointing left, one right, and a little icon with two crossed arrows"
/>

<br />

<!-- silly webring -->
<div
  class="comic-neue-bold"
  id="sillyring"
  style="display: inline; text-align: center; width:min-content; gap: 8px"
>
  <img
    id="sillyring-image"
    src="https://silly.possiblyaxolotl.com/tbhspin.gif"
  /><br />
  <a href="https://deyathemuniz.neocities.org" target="_top">◄</a>
  <a href="https://silly.possiblyaxolotl.com" target="_top">sillyring</a>
  <a href="https://deyathemuniz.neocities.org" target="_top">►</a>
</div>

<br />

<!-- CDRING START -->
<div id="cdr">
  <div class="cdr-container">
    <div class="cdr-widget">
      <p>
        This site is part of the <strong
          ><a href="https://cdring.neocities.org/"> CDRing </a>
        </strong>
      </p><div class="cdr-nav">
        <a href="https://ironfeasant.nekoweb.org" class="cdr-prev">&lt; Prev</a
        ><a href="https://cdring.neocities.org/"
          ><img
            src="https://cdring.neocities.org/ringcdimages/conangray2.jpg"
            alt="CDRing badge"
            class="cdr-badge"
          /></a
        ><a href="https://friendtoroaches.neocities.org" class="cdr-next"
          >Next &gt;</a>
      </div><p>
        <a href="https://maxsden.neocities.org">Random</a> | <a
          href="https://cdring.neocities.org/">Index</a>
      </p>
    </div>
  </div>
</div>
<!-- CDRING END -->