<!-- conehead webring -->
<div class="webring">
  <a href="https://coneheads.n3bula.lol" class="webring-name"
    >conehead webring</a
  >
  <div class="webring-links">
    <a
      href="https://coneheads.n3bula.lol/redirect.html?to=prev&name=n3bula"
      class="prev">&larr;</a
    >
    <a
      href="https://coneheads.n3bula.lol/redirect.html?to=random&name=n3bula"
      class="rand">random</a
    >
    <a
      href="https://coneheads.n3bula.lol/redirect.html?to=next&name=n3bula"
      class="next">&rarr;</a
    >
  </div>
</div>

<hr />

<!-- Bucket Webring -->
<div class="webring">
  <a href="https://webring.bucketfish.me" class="webring-name">bucket webring</a
  >
  <div class="webring-links">
    <a
      href="https://webring.bucketfish.me/redirect.html?to=prev&name=n3bula"
      class="prev">&larr;</a
    >
    <a
      href="https://webring.bucketfish.me/redirect.html?to=next&name=n3bula"
      class="rand">random</a
    >
    <a
      href="https://webring.bucketfish.me/redirect.html?to=random&name=n3bula"
      class="next">&rarr;</a
    >
  </div>
</div>

<hr />

<!-- Webmaster Webring -->
<div class="webring">
  <a href="https://webmasterwebring.netlify.app" class="webring-name"
    >Webmaster Webring</a
  >
  <div class="webring-links">
    <a href="https://webmasterwebring.netlify.app?n3bula-previous" class="prev"
      >&larr;</a
    >
    <a href="https://webmasterwebring.netlify.app?n3bula-random" class="rand"
      >random</a
    >
    <a href="https://webmasterwebring.netlify.app?n3bula-next" class="next"
      >&rarr;</a
    >
  </div>
</div>

<hr />

<!-- no ai webring -->
<div class="webring">
  <a href="https://baccyflap.com/noai" class="webring-name">no ai webring</a>
  <div class="webring-links">
    <a href="https://baccyflap.com/noai/?prv&s=nbl" class="prev">&larr;</a>
    <a href="https://baccyflap.com/noai/?rnd" class="rand">random</a>
    <a href="https://baccyflap.com/noai/?nxt&s=nbl" class="next">&rarr;</a>
  </div>
</div>

<hr />

<!-- yaoi webring -->
<div class="webring">
  <a href="https://www.virtuagirl.net/yuriwebring.html" class="webring-name"
    >yaoi webring</a
  >
  <div class="webring-links">
    <a href="https://www.virtuagirl.net/webring.htm#NBL0" class="prev">&larr;</a
    >
    <a href="https://www.virtuagirl.net/webring.htm#NBL1" class="next">&rarr;</a
    >
  </div>
</div>

<hr />

<div class="webring-embed">
  <script src="https://silly.possiblyaxolotl.com/ring/webstring.js" is:inline
  ></script>
</div>

<hr />

<div class="webring-embed">
  <link
    rel="stylesheet"
    href="https://cdring.neocities.org/cdring/onionring.css"
  />

  <!-- CDRING START -->
  <div id="cdr">
    <script
      type="text/javascript"
      src="https://cdring.neocities.org/cdring/onionring-variables.js"
      is:inline></script>
    <script
      type="text/javascript"
      src="https://cdring.neocities.org/cdring/onionring-widget.js"
      is:inline></script>
  </div>
  <!-- CDRING END -->
</div>

<style>
  .webring {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }

  .webring-name {
    font-size: 16px;
  }

  .webring-embed {
    text-align: center;
    margin: 0 auto;
  }
</style>
