<aside class="side">
  <div class="container">
    <div class="container-title">
      <p>navigation</p>
    </div>
    <div class="content">
      <div class="links">
        <a href="/home" class="link">home</a>
        <a href="/about" class="link">about</a>
        <a href="/contact" class="link">contact</a>
        <details>
          <summary>site stuff</summary>
          <div class="sub-links">
            <a href="#" class="link">inner link</a>
          </div>
        </details>
      </div>
    </div>
  </div>
</aside>
