---
import Updates from "./updates.astro";

import { buttons } from "../../data/buttons";
import Lastfm from "./lastfm.astro";
import Rain from "./rain.astro";

const navLinks = [
  {
    url: "/",
    text: "home",
  },
  {
    url: "/about",
    text: "about me",
  },
  {
    url: "/blog",
    text: "blog",
  },
  {
    url: "/gallery",
    text: "photo gallery",
  },
  {
    url: "/guestbook",
    text: "guestbook",
  },
  {
    url: "/nekolink",
    text: "nekolink v2",
  },
  
  // div
  {
    text: "divider",
  },

  // exr
  {
    url: "https://github.com/marcusleonas",
    text: "github",
  },
  {
    url: "https://last.fm/user/marcusleonas",
    text: "last.fm",
  },
  {
    url: "https://bsky.app/profile/n3bula.lol",
    text: "bsky",
  },
  {
    url: "https://x.com/n3bulalol",
    text: "twitter",
  },
  {
    url: "https://discord.gg/AbZ9Rz9WMp",
    text: "discord server"
  },

  // div
  {
    text: "divider",
  },

  {
    url: "mailto:wishbone@posteo.uk",
    text: "email me!!"
  }
];
---

<aside class="sidebar">
  <div class="box">
    <h3>navigation</h3>
    <nav>
      {navLinks.map((link) => {
        if (link.text === "divider") {
          return (
            <div class="divider"></div>
          )
        } else {
          return (
            <a href={link.url}>{link.text}</a>
          )
        }
      })}
    </nav>
  </div>
  <div class="box">
    <Updates />
  </div>
  <div class="button-box">
    <marquee behavior="" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
      {buttons.map((button) => (
        <a href={button.href}><img src={button.src} width="88" height="31" class="button-img" /></a>
      ))}
    </marquee>
  </div>
  <div class="box">
    <h3>last played</h3>
    <Lastfm />
  </div>
  <div class="box">
    <h3>stats</h3>
    <p>views: <!--# views --></p>
    <p>created: 09/06/2022</p>
    <p>updated: <!--# updates --></p>
    <p>followers: <!--# followers --></p>
  </div>
  <div class="box">
    <Rain />
  </div>
</aside>

<style>
  .sidebar {
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  nav a::before {
    content: "★";
    display: inline-block;
    margin-right: 5px;
  }

  .divider {
    padding: 4px;
  }

  .box {
    flex: 0;
  }

  .button-box marquee a {
    margin-right: 5px;
  }

  .button-img {
    filter: grayscale(70%);
    transition: 0.2s all ease;
  }
  .button-img:hover {
    filter: grayscale(0%);
  }
</style>
