<h3>Updates</h3>
<div class="scroll">
  <p>[26/02/2026] yes yes new website xoxo!</p>
  <hr>
  <p>
    [31/01/2026]: Created my <a href="https://storybook.n3bula.lol">Storybook</a
    >, added a link to it here.
  </p>
  <hr />
  <p>
    [30/01/2026 - AFTERNOON]: Created my own cliques, created trinkets page for
    collecting buttons, stamps, blinkies, etc. Also a added poll to the home
    page.
  </p>
  <hr />
  <p>
    [30/01/2026 - MORNING]: Add shrine to <a href="/shrines/flins">Flins</a> from
    Genshin Impact
  </p>
  <hr />
  <p>
    [29/01/2026]: Major website update! Changes styles, layout, etc. Also made
    the website work better on mobile.
  </p>
</div>

<style>
  .scroll {
    max-height: 150px;
  }
  p {
    font-size: 14px;
  }
</style>
