<h3>updates</h3>
<div class="scroll" style="--sb-height: 100px;">
  <p>[26/02/2026] yes yes new website xoxo!</p>
  <hr>
  <p>
    [31/01/2026]: created my <a href="https://storybook.n3bula.lol">storybook</a
    >, added a link to it here.
  </p>
  <hr />
  <p>
    [30/01/2026 - AFTERNOON]: created my own cliques, created trinkets page for
    collecting buttons, stamps, blinkies, etc. Also a added poll to the home
    page.
  </p>
  <hr />
  <p>
    [30/01/2026 - MORNING]: add shrine to <a href="/shrines/flins">flins</a> from
    genshin impact
  </p>
  <hr />
  <p>
    [29/01/2026]: major website update! changes styles, layout, etc. also made
    the website work better on mobile.
  </p>
</div>

<style>
  p {
    font-size: 14px;
  }
</style>
